@import "assets/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

a{
  text-decoration: none !important;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.fa,.far{
  color: #848f98 !important;
}

.labels{
  color: #ffffff;
  line-height: 2em;
  font-size: 1em;
}

.badge {
  border-radius: 50%;
  font-size: 8px;
  background: #ff7800;
  color: #ffffff;
  vertical-align: top;
  margin-left: -10px;
}